<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>

        <property name="connection.username">root</property>

        <property name="connection.password">Rudra@123</property>

        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- If table is not present, Hibernate will automatically create/update it -->
        <property name="hbm2ddl.auto">update</property>
        <!-- Shows SQL queries in console -->
        <property name="show_sql">true</property>
        <property name="format_sql"></property>
        
        <mapping class="com.rudra.Student"/>
        <mapping class="com.rudra.Address"/>

        <mapping class="oneToone.Question"/>
        <mapping class="oneToone.Answer"/>

        <mapping class="OneToMany.Question1"/>
        <mapping class="OneToMany.Answer1"/>

        <mapping class="ManyToMany.Project"/>
        <mapping class="ManyToMany.Employee"/>

    </session-factory>

</hibernate-configuration>